a { 
        font-size: 20px;
        float: right;
        color: #ffffff;
        text-decoration:none;
        font-weight:bold;
        
} 
a.less { 
	color: inherit; 
} 


/* background */
body {
    background: white url("images/1.jpg") no-repeat ;
    background-size: cover;
}

.header {
  background: white url("images/2.jpg") no-repeat ;
  background-size: cover;

}

/* menubar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #339966;
}

li {
    float: left;
    border-right:1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ccffcc;
}


.about {
       
        margin: 20px;
	background: white url("images/9.png") no-repeat ;
        background-size: cover;
}

.g {
        margin: 20px;
	background: #ccffcc;
        
}
.nav {
        float: right;
        
}
/* select */
.select {
        margin: 20px;
	background: #ccffcc;
        
}
/* menu_select */
.menu_select_table {
        margin: 20px;
	background: #ccffcc;
}
.menu_select_table_color {
	background: #ffffff;
}
.goto_bmr {
        margin: 20px;
        text-align: center;
        background: #ccffcc;
	
}


.link_bmr_page,.link_exer_page {
        float: right;
        margin: 20px;
}


.bmr {
        margin: 20px;
        text-align: center;
	background: #ccffcc;
}
.detail_bmr {
        left: 500px;

}
.goto_exer {
        text-align: center;

	
}
.exercise {
        position: relative;
        left: 400px;
        margin: 20px;
	background: #ccffcc;
	
}
/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* button_select_menu */
.button_select_menu {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_select_menu:hover {background-color: #3e8e41}

.button_select_menu:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* button */
.button {
  display: inline-block;
  padding: 6px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  margin: 20px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


