
{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'healthy/style.css' %}" />
    <head>
        <title>healhty site</title>
    </head>
    <body>

<div class="header"><center><font size = "5" ><h1> HEALTHY </h1></center></font></div> 
<ul><b>
  <li><a href="{% url 'healthy:home_page'%}">Home</a></li>
  <li><a href="{% url 'healthy:about'%}">About</a></li>
</ul></b>
        
<div class="bmr">
        <h1>BMR Calculator</h1>
        <form action="{% url 'healthy:cal_bmr'%}" method="post">
        {% csrf_token %}
         	Sex : <input type = "radio" name="sex" id = "id_male" value = "Male"/> male
         	<input type = "radio" name=" sex" id = "id_female" value = "Female"/> female <br>
         	Height(cm) : <input type = "text" name="height" /><br>
         	Weight(km) :<input type = "text" name="weight" /><br>
         	Age :<input type = "text" name="age" /><br>
                <input type="submit" name = "submit_cal_bmr" value="calculate" /><br>
        <br>
        </form>
</div> 

<div class="detail_bmr">
        <h1>BMR Detail</h1>
        {% csrf_token %}
         	<b>Sex : </b>{{sex}} <br>
         	<b>Height(cm) : </b>{{height}}<br>
         	<b>Weight(km) : </b>{{weight}} <br>
         	<b>Age : </b>{{age}}<br>
         	<b>BMR : </b><font color="red">{{bmr_value}}</font> kcal<br>
                <b>Excess Calories : </b><font color="red" id = 'id_excess_calories' value = "{{excess_calories}}" >{{excess_calories}}</font> kcal
        <br><br>
        <b><font color="red">Energy is not enough for you. There may be errors.
        <a href="{% url 'healthy:select_menu_page'%}" class = "less" > Please select a new menu again. </a></font><br></b> 
</div> 
<div class="link_bmr_page">
        <a href="{% url 'healthy:select_menu_page'%}">  Go back select menu </a><br> 
        <a href="{% url 'healthy:select_food'%}"> Clear & Go back select menu </a> 
</div> 

    </body>
</html>
