
{% load static %}

<html>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'healthy/style.css' %}" />
    <head>
        <title>healhty site</title>
    </head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
    <body>

<div class="header""><center><font size = "8" > HEALTHY </center></font></div>  

<ul><b>
  <li><a href="{% url 'healthy:home_page'%}">Home</a></li>
  <li><a href="{% url 'healthy:about'%}" id = "id_about" >About</a></li>
</ul></b>

        
<div class="row">
  <div class="col-md-4"></div>
<div class="col-md-4">
<div class="g"><br>
<form class="form-horizontal" action="{% url 'healthy:cal_bmr'%}" method="post">
{% csrf_token %}
  <h1><center>BMR Calculator</center></h1><br>  
  <div class="form-group">
    <label  class="col-sm-4 control-label">Sex : </label>
    <div class="col-sm-8">
      <input type = "radio" name="sex" id = "id_male" value = "Male"/> male<br>
      <input type = "radio" name=" sex" id = "id_female" value = "Female"/> female <br>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Height(cm) :</label>
    <div class="col-sm-8">
      <input type = "text" name="height" /><br>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Weight(km) :</label>
    <div class="col-sm-8">
      <input type = "text" name="weight" /><br>
    </div>
  </div>
   <div class="form-group">
    <label  class="col-sm-4 control-label">Age :</label>
    <div class="col-sm-8">
      <input type = "text" name="age" /><br>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-10">
      <input class="button" type="submit" name = "submit_cal_bmr" value="calculate" /><br>
    </div>
  </div><br>
</form>
</div>
</div>
<div class="col-md-4"> 
<div class="g"><br>
        <center><h1>BMR Detail</h1></center><br>
   <div class="form-group">
    <label  class="col-sm-4 control-label">Sex    : </label>
    <div class="col-sm-8">
      <p>{{sex}}</p>
    </div>
  </div><br>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Height(cm) :</label>
    <div class="col-sm-8">
     <p>{{height}}</p>
    </div>
  </div><br>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Weight(km) :</label>
    <div class="col-sm-8">
      <p>{{weight}}</p>
    </div>
  </div><br>
   <div class="form-group">
    <label  class="col-sm-4 control-label">Age    :</label>
    <div class="col-sm-8">
      <p>{{age}}</p>
    </div>
  </div><br>
  <div class="form-group">
    <label  class="col-sm-4 control-label">BMR : </label>
    <div class="col-sm-8">
      <p><font color="red">{{bmr_value}}</font> kcal</p>
    </div>
  </div><br>
  <div class="form-group">
    <label  class="col-sm-4 control-label">Excess Calorie :</label>
    <div class="col-sm-8">
      <p><font color="red" id = 'id_excess_calories' value = "{{excess_calories}}" >{{excess_calories}}</font> kcal</p>
    </div>
  </div><br>
  <b><font color="red" size = "4"  ><center>Energy is not enough for you. There may be errors. Calculate bmr again or please select a new menu again . </a></font><br></b> </center>
<br>
  
</form>
<br>
</div>
</div>
</div>

<div class="link_bmr_page">
        <a href="{% url 'healthy:select_menu_page'%}">  Go back select menu </a><br> 
        <a href="{% url 'healthy:select_food'%}"> Clear & Go back select menu </a> 
</div> 

    </body>
</html>




