<html>
    <head>
        <title>healhty site</title>
    </head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
    <body>

        <h1>Exercise burn calories</h1>
        <form action="{% url 'healthy:burn_calories' excess_calories %}" method="post">
    	{% csrf_token %}
                <b>Activity : </b>
    		<select name='exercise' id = id_exercise>
                	<option selected disabled>Select here</option>
                    {% for exercise in exercises %}
  			<option value='{{exercise.id}}'>{{exercise.types}}</option>
                    {% endfor %}
		 </select>
    	 	 <input type="submit" value="select" />
	</form>
        <br><br>
        Activity : <font color="red">{{exercise_select.types}}</font><br><br>
        <form oninput="cal.value={{excess_calories}}-parseInt(volume.value)" > 
        time
  	<input type="range" id="volume" name="volume" value="0" min = "0" max = "{{excess_calories}}"  oninput="time.value=parseInt(volume.value/{{exercise_select.burn}})">
        = 
  	<output name="time" ></output> min
  	<br><br>
        Excess Calories : <font color="red"><output name="cal" ></output></font> kcal
	</form><br>
        <a href="{% url 'healthy:select_food'%}"> <<< Clear & Go back select menu </a> 
    </body>
</html>
