<html>
    <head>
        <title>healhty site</title>
    </head>
    <body>
        <h1>select food</h1>
        <form action="{% url 'healthy:select_food'%}" method="post">
    	{% csrf_token %}
    		<select name='food' id = id_new_food>
                	<option selected disabled>Select here</option>
                    {% for food in foods %}
  			<option value='{{food.id}}'>{{food.name}}</option>
                    {% endfor %}
		 </select>
    		 :<input type = "number" name="number_food" min="1" value= "1"   placeholder="number" /> Bowl or plate
    		 <br>
   		 <input type="submit" value="select" />
	</form>
         
        <table id="id_food_table">
            <tr><td>{{new_food_text}}</td></tr>
        </table>
    </body>
</html>
