<html>
    <head>
        <title>healhty site</title>
    </head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
    <body>
        <a href="{% url 'healthy:select_food'%}"> <<< Clear & Go back select menu </a><br>
        <a href="{% url 'healthy:bmr'%}"> <<< Calculator again </a> 
        <h1>bmr detail</h1>
        {% csrf_token %}
         	<b>Sex : </b>{{sex}} <br>
         	<b>Height(cm) : </b>{{height}}<br>
         	<b>Weight(km) : </b>{{weight}} <br>
         	<b>Age : </b>{{age}}<br>
         	<b>BMR : </b><font color="red">{{bmr_value}}</font> kcal<br>
                <b>Excess Calories : </b><font color="red">{{excess_calories}}</font> kcal
        <br>
       
        <h1>Exercise burn calories</h1>
        <form action="{% url 'healthy:burn_calories' excess_calories %}" method="post">
    	{% csrf_token %}
                Activity : 
    		<select name='exercise' id = id_exercise>
                	<option selected disabled>Select here</option>
                    {% for exercise in exercises %}
  			<option value='{{exercise.id}}'>{{exercise.types}}</option>
                    {% endfor %}
		 </select>
    	 	 <input type="submit" value="select" />
	</form>

    </body>
</html>
