
{% load static %}

<html>
<link rel="stylesheet" type="text/css" href="{% static 'healthy/style.css' %}" />
    <head>
        <title>healhty site</title>
    </head>
<body>
<div class="header"><center><font size = "5" ><h1> HEALTHY </h1></center></font></div> 
<ul><b>
  <li><a href="{% url 'healthy:home_page'%}">Home</a></li>
  <li><a href="{% url 'healthy:about'%}">About</a></li>
</ul></b>

<div class="select">
        <h1>Select food</h1>
        <form action="{% url 'healthy:select_food'%}" method="post">
    	{% csrf_token %}
                <input  name='food' type='text' id = id_new_food list="food_list" placeholder="menu"/>
		<datalist id="food_list">
                     {% for food in foods %}
  		 	<option value="{{food.name}}"/>
                     {% endfor %}
		</datalist>
                 
    		 :<input type = "number" name="number_food" min="1" value= "1" /> Bowl or plate
    		 <br><br>
   		 <input class="button" type="submit" name="submit_select" value="select" />
	</form>
</div>


<div class="menu_select_table">
	<b><font size="5" >Menu table</font></b><br><br>
	<table id="id_food_table">
            <tr>
                <th><center>Name</th>
                <th><center>Number(Bowl or plate)</th>
                <th><center>calories(kcal)</th></center>
            </tr>    
            {% for food in foodList_select %} 
            <tr>
                <td><center>{{food.name}}</td>
                <td><center>{{food.number_per_menu}}</td>
                <td><center>{{food.calories_per_menu}}</td></center>
            </tr>   
            {% endfor %} 
            <tr>
                <th colspan="2"><center>total</th>
                <td><center>{{calories_total}}</td></center>
            </tr>              
        </table><br>
        <center><a href="{% url 'healthy:select_food'%}">Clear</a></center><br>
</div>
   <br>  

<div class="goto_bmr">       
        <form action="{% url 'healthy:bmr'%}" method="post">
        {% csrf_token %}
                 <b>
                <font color = "red" size="3">After the selection is complete.  </font><br>
                <font color = "red" size="2">Calculate  bmr value for excess calories  </font><br><br></b>
                <input class="button" type="submit" name="submit_go_bmr" value="Go to calculate" /><br>
        <br>
        </form>
</div>

    </body>
</html>
