{% load static %}
<html>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'healthy/style.css' %}" />
    <head>
        <title>healhty site</title>
    </head>
<body>
<div class="header""><center><font size = "8" > HEALTHY </center></font></div>  
<ul><b>
  <li><a href="{% url 'healthy:home_page'%}" id = "id_home" >Home</a></li>
  <li><a href="{% url 'healthy:detail_food'%}" id = "id_Foods">Detail Foods</a></li>
  <li><a href="{% url 'healthy:about'%}" id = "id_about" >About</a></li>
</ul></b>
  <div class="menu_select_table">
	<b><font size="6" class="menu_select_table">Menu table</font></b>
	<table id="id_food_table" class="menu_select_table_color" >
            <tr>
                <th><center>Name</th>
                <th><center>calories(kcal)</th></center>
            </tr>    
            {% for food in foods %} 
            <tr>
                <td><center>{{food.name}}</td>
                <td><center>{{food.calories}}</td></center>
            </tr>   
            {% endfor %}             
        </table>
        <center><a href="{% url 'healthy:select_food'%}"><font size="4">Clear<font></a></center><br>
  </div>

<br>  
    </body>
</html>
