
{% load static %}

<html>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'healthy/style.css' %}" />
    <head>
        <title>healhty site</title>
    </head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
    <body>

<div class="header""><center><font size = "8" > HEALTHY </center></font></div>  

<ul><b>
  <li><a href="{% url 'healthy:home_page'%}" id = "id_home" >Home</a></li>
  <li><a href="{% url 'healthy:detail_food'%}" id = "id_Foods">Detail Foods</a></li>
  <li><a href="{% url 'healthy:about'%}" id = "id_about" >About</a></li>
</ul></b>
<font size="3">
<div class="row">
  <div class="col-md-4"></div>

<div class="col-md-4">
<div class="g"><br>
        <center><h1>Exercise burn calories</h1>
        <form action="{% url 'healthy:burn_calories' excess_calories %}" method="post">
         {% csrf_token %}
                <b>Activity : </b>
    		<select name='exercise' id = id_exercise>
                	<option selected disabled>Select here</option>
                    {% for exercise in exercises %}
  			<option value='{{exercise.id}}'>{{exercise.types}}</option>
                    {% endfor %}
		 </select>
    	 	 <input class="button" type="submit" name = "submit_select_exercise" value="select" />
	</form></center>
<br>
</div>
</div>

<div class="col-md-4"> 
</div>
</div>


<div class="row">
  <div class="col-md-4"></div>

<div class="col-md-4">
<div class="g"><br>
 <div class="form-group">
    <label  class="col-sm-10 control-label">Activity : <font color="red" >{{exercise_select.types}}</font></label>

  </div><br><br>
        
<form oninput="cal.value={{excess_calories}}-parseInt(volume.value)" > 
<div class="row">
<div class="col-md-1"> </div>
<div class="col-md-2"> time :</div>
<div class="col-md-4">
  	<input type="range" id="volume" name="volume" value="0" min = "0" max = "{{excess_calories}}"  oninput="time.value=parseInt(volume.value/{{exercise_select.burn}})"></div>
<div class="col-md-1"><output name="time" id = 'id_time' ></output></div>
<div class="col-md-2"> min</div>
</div>
<br>
<div class="row">
	<div class="col-md-1"> </div>
	<div class="col-md-5"> Excess Calories :</div>
	<div class="col-md-2">
		<output name="cal" id = 'id_exc_cal'></output>
	</div>
	<div class="col-md-2"> kcal</div>
        <div class="col-md-3"> </div>
</div>  
<br>
</div>
</div>

<div class="col-md-4"> 
</div>
</div>

</font>
 <div class="link_exer_page">
        <a href="{% url 'healthy:select_menu_page'%}">  Go back select menu </a><br> 
        <a href="{% url 'healthy:select_food'%}"> Clear & Go back select menu </a> 
</div> 
    </body>
</html>
