<html>
    <head>
        <title>healhty site</title>
    </head>
    <body>
        <h1>select food</h1>
        <form method="POST">
        {% csrf_token %}
         	<select name="food_text" id = id_new_food>
                	<option selected disabled>Select here</option>
  			<option value='กระเพราไก่'>กระเพราไก่</option>
  			<option value='คะน้าหมูกรอบ'>คะน้าหมูกรอบ</option>
  			<option value='ข้าวผัด'>ข้าวผัด</option>
  			<option value='ไข่เจียวหมูสับ'>ไข่เจียวหมูสับ</option>
	 	</select> 
        	:<input type = "number" min="0" name="num_food"  placeholder="number" /> Bowl or plate
        	<br>
        	<input type = "submit" name="submit_select" value="select" />
	</form>
        <table id="id_food_table">
            <tr><td>{{new_food_text}}</td></tr>
        </table>
    </body>
</html>
