<html>
    <head>
        <title>healhty site</title>
    </head>
    <body>
        <h1>select food</h1>
        <form method="POST">
        {% csrf_token %}
         	<select name="food_text" id = id_new_food>
                	<option selected disabled>Select here</option>
                    {% for name_food in name_foods %}
  			<option value='{{name_food.id}}'>{{name_food.name}}</option>
                    {% endfor %}
	 	</select> 
        	:<input type = "number" min="1" value= "1" name="num_food"  placeholder="number" /> Bowl or plate
        	<br>
        	<input type = "submit" name="submit_select" value="select" />
	</form>
        <table id="id_food_table">
            <tr><td>{{new_food_text}}</td></tr>
        </table>
    </body>
</html>
